<div class="square-container">
  <div class="title">
    <p>Event save plugin</p>
  </div>
  <div>
    <button mat-button color="primary" (click)="connect()">connect eventsave</button>
    <button mat-button color="primary" (click)="createRoom()">createRoom</button>
    <button mat-button color="primary" (click)="joinRoom()">joinRoom</button>
    <button mat-button color="primary" (click)="initVideoCall()">initVideoCall</button>

    <button mat-button color="primary" (click)="sendConfig()">sendMessage</button>
  </div>
</div>
