<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label>pluginId</mat-label>
    <input matInput formControlName="pluginId">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>roomID</mat-label>
    <input matInput formControlName="roomID">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>pinId</mat-label>
    <input matInput formControlName="pinId">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>videosServer</mat-label>
    <input matInput formControlName="videosServer">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>rtp Forwarding Audio Port</mat-label>
    <input matInput formControlName="rtpForwardingAudioPort">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>rtсp Forwarding Audio Port</mat-label>
    <input matInput formControlName="rtcpForwardingAudioPort">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>rtp Forwarding Video Port</mat-label>
    <input matInput formControlName="rtpForwardingVideoPort">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>rtp Forwarding Video Port</mat-label>
    <input matInput formControlName="rtcpForwardingVideoPort">
  </mat-form-field>

</form>
