<div class="toolbar-fixed">
  <mat-toolbar class="background toolbar-container">
    <div>
      <a class="mr-10 nav-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active-link">
        Home
      </a>
    </div>
    <div>
      <a class="mr-10 nav-item" routerLink="/conference" [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active-link">
        Conference
      </a>
    </div>
    <div>
      <a class="mr-10 nav-item" routerLink="/webinar" [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active-link">
        Webinar
      </a>
    </div>
    <div>
      <a class="mr-10 nav-item" routerLink="/webinar/auto-start" [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active-link">
        Webinar auto start
      </a>
    </div>
  </mat-toolbar>
</div>
