<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label>streamId</mat-label>
    <input matInput formControlName="streamId">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>rtp Forwarding Audio Port</mat-label>
    <input matInput formControlName="rtpForwardingAudioPort">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>rtсp Forwarding Audio Port</mat-label>
    <input matInput formControlName="rtcpForwardingAudioPort">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>rtp Forwarding Video Port</mat-label>
    <input matInput formControlName="rtpForwardingVideoPort">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>rtp Forwarding Video Port</mat-label>
    <input matInput formControlName="rtcpForwardingVideoPort">
  </mat-form-field>

</form>
